<!doctype html>
<html class="admin">
	<head>
		<meta charset="utf-8" />
		<title>Admin – Blue Jeans Floorplan</title>
		<link href="../styles/admin.css" rel="stylesheet" type="text/css" />
		<link href="../favicon.ico" rel="icon" type="image/x-icon" />
	</head>

	<body>
		<div class="vignette"></div>

		<div id="topbar">
			<a href=".." class="goToFloorplan" target="_blank" title="Go to the Floorplan">floor plan</a>
		</div>

		<div id="listPane"></div>

		<form id="editor" style="display: none">
			<div class="basics">
				<div class="photo">
					<img />
					<div>
						<span class="fileChooserLink">
							<a href="#" class="helper_link">select photo</a>
							<input type="file" name="photo" accept="image/*" />
						</span>
					</div>
				</div>
				<div class="fullname_sizer">
					<input name="fullname" type="text" 
						placeholder="full name"
						required data-validation-failed-message="The person's full name is required."
						autocomplete="off" />
				</div>
				<div class="title_sizer">
					<input name="title" type="text" placeholder="title" />
				</div>
				<a href="#" class="helper_link remove">remove person</a>
			</div>

			<div class="formControls">
				<button type="submit">save</button><span class="validationMessage"></span>
			</div>

			<section class="contact">
				<h1>contact</h1>
				<label>
					<span>Email</span
					><input name="email" type="email"
						placeholder=""
						data-validation-failed-message="Invalid email address."
						autocomplete="off" />
				</label>

				<label>
					<span>LinkedIn</span
					><a href="#" class="view_profile helper_link" target="linkedin">view profile</a
					><a href="#" class="search helper_link" target="linkedin">search for profile</a
					><input name="linkedInId"type="text"
						placeholder="paste profile URL" 
						pattern=".*linkedin\.com/(?:profile/view\?id=|in/)[A-Za-z0-9]+.*" 
						data-validation-failed-message="LinkedIn URL should look like linkedin.com/profile/view?id=123 or linkedin.com/in/alice" />
				</label>

				<label>
					<span>Mobile phone</span
					><input name="mobilePhone" type="tel"
						placeholder="" 
						title="example: 408-555-5555" 
						pattern="(\d{3}-\d{3}-\d{4})|(\+\d{1,2} [\d ]+\d)"
						data-validation-failed-message="Mobile phone must be of the form 123-456-7890 or +91 1234567890."/>
				</label>

				<label>
					<span>Work phone</span
					><input name="workPhone" type="tel" 
						placeholder="" 
						title="example: 408-555-5555" 
						pattern="(\d{3}-\d{3}-\d{4})|(\+\d{1,2} [\d ]+\d)"
						data-validation-failed-message="Work phone must be of the form 123-456-7890 or +91 1234567890." />
				</label>
			</section>

			<section class="office">
				<h1>office</h1>
				<label><input name="office" value="mv" type="radio" />Mountain View 1</label>
				<label><input name="office" value="mv2" type="radio" />Mountain View 2</label>
				<label><input name="office" value="mv3" type="radio" />Mountain View 3</label>
				<label><input name="office" value="oc" type="radio" />Orange County</label>
				<label><input name="office" value="sf" type="radio" />San Francisco</label>
				<label><input name="office" value="ln" type="radio" />London</label>
				<label><input name="office" value="blr" type="radio" />Bangalore</label>
				<label><input name="office" value="aus" type="radio" />Australia</label>
				<label><input name="office" value="nz" type="radio" />New Zealand</label>
				<label><input name="office" value="remote" type="radio" />remote</label>
				<div class="seatChooser small">
					<div class="map small mv">{{{svgs.mv}}}</div>
					<div class="map small mv2">{{{svgs.mv2}}}</div>
					<div class="map small mv3">{{{svgs.mv3}}}</div>
					<div class="map small oc">{{{svgs.oc}}}</div>
					<div class="map small sf">{{{svgs.sf}}}</div>
					<div class="map small ln">{{{svgs.ln}}}</div>
					<div class="map small blr">{{{svgs.blr}}}</div>
					<div class="map small aus">{{{svgs.aus}}}</div>
					<div class="map small nz">{{{svgs.nz}}}</div>
					<div class="map small remote">{{{svgs.remote}}}</div>
					<a href="#" class="desk helper_link">assign desk</a>
				</div>
			</section>

			<section class="tags">
				<h1>departments</h1>
				<div class="columns">
					 <label><input name="tags" value="biz"     type="checkbox" /><span>Business</span></label
					><label><input name="tags" value="des"     type="checkbox" /><span>Design</span></label
					><label><input name="tags" value="eng"     type="checkbox" /><span>Engineering</span></label
					><label><input name="tags" value="exe"     type="checkbox" /><span>Executive</span></label
					><label><input name="tags" value="fin"     type="checkbox" /><span>Finance</span></label
					><label><input name="tags" value="g&amp;a" type="checkbox" /><span>G&amp;A</span></label
					><label><input name="tags" value="hr"      type="checkbox" /><span>HR</span></label
					><label><input name="tags" value="it"      type="checkbox" /><span>IT</span></label
					><label><input name="tags" value="mkt"     type="checkbox" /><span>Marketing</span></label
					><label><input name="tags" value="ops"     type="checkbox" /><span>Ops</span></label
					><label><input name="tags" value="pm"      type="checkbox" /><span>PM</span></label
					><label><input name="tags" value="qa"      type="checkbox" /><span>QA</span></label
					><label><input name="tags" value="sale"    type="checkbox" /><span>Sales</span></label
					><label><input name="tags" value="succ"    type="checkbox" /><span>Success</span></label
					><label><input name="tags" value="supp"    type="checkbox" /><span>Support</span></label>
				</div>
			</section>
		</form>

		<div class="seatChooser large" style="display: none">
			<div class="hint">Click on the blue square where this person sits<span class="unassign">, or <a href="#">unassign their current desk</a></span>.</div>
			<a href="#" class="helper_link cancel" title="Cancel desk change">&times;</a>
		</div>

		<script type="text/javascript">
			var config = {{{config}}};
		</script>

		<script src="../scripts/lib/mediator.js"                  type="text/javascript"></script>
		<script src="../scripts/lib/q.min.js"                     type="text/javascript"></script>
		<script src="../scripts/lib/jquery.js"                    type="text/javascript"></script>
		<script src="../scripts/lib/lodash.js"                    type="text/javascript"></script>
		<script src="../scripts/lib/backbone.js"                  type="text/javascript"></script>
		<script src="../scripts/lib/jquery-ui.js"                 type="text/javascript"></script>
		<script src="../scripts/lib/load-image.js"                type="text/javascript"></script>
		<script src="../scripts/lib/jquery.iframe-transport.js"   type="text/javascript"></script>
		<script src="../scripts/lib/jquery.fileupload.js"         type="text/javascript"></script>
		<script src="../scripts/lib/jquery.fileupload-process.js" type="text/javascript"></script>
		<script src="../scripts/lib/jquery.fileupload-image.js"   type="text/javascript"></script>

		<script src="../scripts/data.js"                          type="text/javascript"></script>
		<script src="../scripts/ListPane.js"                      type="text/javascript"></script>
		<script src="../scripts/Map.js"                           type="text/javascript"></script>
		<script src="../scripts/Editor.js"                        type="text/javascript"></script>
		<script src="../scripts/admin.js"                         type="text/javascript"></script>
	</body>
</html>
