<!doctype html>
<html class="floorplan {{officeID}}">

<head>
	<meta charset="utf-8" />
	<title>{{companyName}} {{officeName}}</title>
	<base href="{{baseURL}}">
	<!-- Internal variables -->
	<script>
		var floorplanParams = {
			officeID: '{{officeID}}'
		};
	</script>
	<meta name="viewport" content="width=90%, user-scalable=no" />
	<link href="styles/all.css" rel="stylesheet">
    <script src="scripts/tarp.require.min.js"></script>
    <script>Tarp.require("./scripts/floorplan")</script>
</head>

<body>
	<div class="vignette"></div>
	<div id="listPane"></div>
	<div class="map">
		{{{svg}}}
	</div>
	<div id="detailsPane" class="{{officeID}}"></div>
	<!-- Piwik

	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function () {
			var u = "//skadi.bluejeansnet.com/piwik/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', 1]);
			var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
		})();
	</script>
	<noscript>
		<p>
			<img src="//skadi.bluejeansnet.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" />
		</p>
	</noscript>

	End Piwik Code -->
</body>
</html>