<!doctype html>
<html class="floorplan {{officeId}}">

<head>
	<meta charset="utf-8" />
	<title>Blue Jeans {{officeName}}</title>
	<meta name="viewport" content="width=1600, user-scalable=no" />
	<link href="styles/all.css" rel="stylesheet" type="text/css" />
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
	<div class="vignette"></div>
	<div id="listPane"></div>
	<div class="map">
		{{{svg}}}
	</div>
	<div id="detailsPane" class="{{officeId}}"></div>

	<script type="text/javascript">
		var config = {{{ config }}};
		var floorplanParams = {
			officeId: '{{officeId}}'
		};
	</script>

	<script src="scripts/lib/mediator.js" type="text/javascript"></script>
	<script src="scripts/lib/jquery.js" type="text/javascript"></script>
	<script src="scripts/lib/lodash.js" type="text/javascript"></script>
	<script src="scripts/lib/backbone.js" type="text/javascript"></script>
	<script src="scripts/lib/oauth.js" type="text/javascript"></script>
	<script src="scripts/lib/sha1.js" type="text/javascript"></script>
	<script src="scripts/lib/store.min.js" type="text/javascript"></script>

	<script src="scripts/data.js" type="text/javascript"></script>
	<script src="scripts/yelp.js" type="text/javascript"></script>
	<script src="scripts/ListPane.js" type="text/javascript"></script>
	<script src="scripts/Map.js" type="text/javascript"></script>
	<script src="scripts/IntroView.js" type="text/javascript"></script>
	<script src="scripts/PersonDetailsView.js" type="text/javascript"></script>
	<script src="scripts/RoomDetailsView.js" type="text/javascript"></script>
	<script src="scripts/DetailsPane.js" type="text/javascript"></script>
	<script src="scripts/main.js" type="text/javascript"></script>

	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function () {
			var u = "//skadi.bluejeansnet.com/piwik/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', 1]);
			var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
		})();
	</script>
	<noscript>
		<p>
			<img src="//skadi.bluejeansnet.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" />
		</p>
	</noscript>
	<!-- End Piwik Code -->
</body>

</html>