<!doctype html>
<html class="floorplan {{officeId}}">
	<head>
		<meta charset="utf-8" />
		<title>Blue Jeans {{officeName}}</title>
		<link href="styles/all.css" rel="stylesheet" type="text/css" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
	</head>

	<body>
		<div class="vignette"></div>
		<div id="listPane"></div>
		<div class="map">
			{{{svg}}}
		</div>
		<div id="detailsPane" class="{{officeId}}"></div>

		<script type="text/javascript">
			var config = {{{config}}};
			var floorplanParams = {
				officeId: '{{officeId}}'
			};
		</script>

		<script src="scripts/lib/mediator.js" type="text/javascript"></script>
		<script src="scripts/lib/jquery.js"   type="text/javascript"></script>
		<script src="scripts/lib/lodash.js"   type="text/javascript"></script>
		<script src="scripts/lib/backbone.js" type="text/javascript"></script>
		<script src="scripts/lib/oauth.js"    type="text/javascript"></script>
		<script src="scripts/lib/sha1.js"     type="text/javascript"></script>

		<script src="scripts/data.js"         type="text/javascript"></script>
		<script src="scripts/yelp.js"         type="text/javascript"></script>
		<script src="scripts/ListPane.js"     type="text/javascript"></script>
		<script src="scripts/Map.js"          type="text/javascript"></script>
		<script src="scripts/DetailsPane.js"  type="text/javascript"></script>
		<script src="scripts/main.js"         type="text/javascript"></script>
	</body>
</html>